:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    // font-weight:bold ;
}

mat-drawer{
    width: 350px;
}

mat-drawer-container{
    height: 1000px;
}

mat-drawer-content{
    padding: 20px;
}